

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-v4-rtl/rtl.css">
    <link rel="stylesheet" href="/bower_components/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>سفره مهربانی</title>
</head>

<body dir="rtl">
    <header>
        <nav id="main-nav" class="navbar navbar-expand-lg">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="navbar-brand" href="#">سفره مهربانی</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <ul class="navbar-nav">
                        <!-- <li class="nav-item active">
                            <a class="nav-link" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Disabled</a>
                        </li> -->
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>

        <section class="header-image">
            <img src="/assets/img/hands.jpg" alt="" />
        </section>

        <section class="supporters">
            <h3>حامیان</h3>

            <div class="container">
                <ul class="slider" id="supporters-slider">

                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                </ul>


            </div>
        </section>

        <section class="download">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <h4>اپلیکیشن سفره مهربانی</h4>
                        <p>محصولی کاربردی جهت دادن افطار و نذری به کودکان بی سرپرست و بد سرپرست</p>
                        <div class="link-wrapper">
                            <a class="download" href="#">دانلود از کافه بازار</a>

                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 mockup">
                        <img src="/assets/img/appmockup.jpg" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <section class="products">
            <div class="container">
                <h3>محصولات ما</h3>
                <ul>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                    <li>
                        <img src="/assets/img/supporter.png" alt="" />
                    </li>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <ul>
            <li>
                <a href="">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-telegram-plane"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
        </ul>
    </footer>

    <script src="/bower_components/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/slick-carousel/slick/slick.min.js"></script>
    <script src="/assets/js/custom.js"></script>
</body>

</html>