<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/front/favicon.ico>
    <title>سفره مهربانی</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Material+Icons">
    <link href=/front/css/app.b0e16d81.css rel=preload as=style>
    <link href=/front/css/chunk-vendors.ec6c606b.css rel=preload as=style>
    <link href=/front/js/app.96c16fed.js rel=preload as=script>
    <link href=/front/js/chunk-vendors.b284b6f7.js rel=preload as=script>
    <link href=/front/css/chunk-vendors.ec6c606b.css rel=stylesheet>
    <link href=/front/css/app.b0e16d81.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but charity-front doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src=/front/js/chunk-vendors.b284b6f7.js></script>
<script src=/front/js/app.96c16fed.js></script>
</body>
</html>